.heading--secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  
  background-image: linear-gradient(to right, $secondary-color, $tertiary-color);

  -webkit-background-clip: text;
  color: transparent;

  &:hover {
    text-shadow: .5rem 1rem 2rem rgba(#000, .2);
  } 
  
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}