.footer {
  background-color: $tertiary-color;
  padding: 10rem 1rem;
  font-size: $default-font-size;


  &__logo--box {
    text-align: center;
    margin-bottom: 8rem;

  }

  &__navigation {
    border-top: 1px solid $secondary-color;
    display: inline-block;
    padding-top: 2rem;
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__copyright {
    color: $secondary-color;
    border-top: 1px solid $secondary-color;
    padding-top: 2rem;
  }

  &__link {
    &:link,
    &:visited {
      color: $color-grey-light;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;

      &:hover,
      &:active {
        color: $color-green-light;
      }
    }
  }
}