.about {
  background-color: $color-grey-light;
  padding: 29rem 0 15rem 0;
  margin-top: -30vh;
  
  &__heading--show {
    display: block;
    font-size: 6rem;
    font-weight: 700;
    font-family: $font-secondary;
    line-height: 5rem;
    text-transform: uppercase;
    background-image: linear-gradient(to right, $tertiary-color, $primary-color);

    -webkit-background-clip: text;
    color: transparent;

    @include respond(phone) {
      font-size: 3rem;      
    }
  }

  @include respond(phone) {
    padding: 35rem 0 15rem 0;   
  }
}

.feature {
  padding: 10rem 0 20rem 0;
  background-image: linear-gradient(
    to right bottom, 
    rgba(191, 191, 191, 0.800),
    rgb(242, 241, 239));
  background-size: cover;
  background-position: top;
  transform: skewY(-7deg);
  margin-top: -7.3rem;

  & > * {
    transform: skewY(7deg);
  }
}

.services {  
  background-color: $color-grey-light;
  margin-top: -12vh;
  padding: 30rem 0 15rem 0;
}