@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap');


$font-primary: 'Inconsolata', monospace;
$primary-color: #333;


body {
  font-family: $font-primary;
  color: $primary-color;
}