@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');


@import "abstraction/mixins";
@import "abstraction/variables";

// UTILITIES
@import "base/typography";
@import "base/utilities";

@import "components/feature-box.scss";


@import "layout/grid";


// PAGES
@import "pages/home";




// RESETS 
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; // 1rem = 10px

  @include respond(tab-land) {
    font-size: 56.25%; // 1rem = 9px, 9/16 = 50%
  }

  @include respond(tab-port) {
    font-size: 50%;  // 1rem = 8px, 8/16 = 50%
  }

  @include respond(phone) {
    font-size: 40%;  
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12, 12/16
  }
}

body {
  font-family: $font-primary;
  box-sizing: border-box;
  padding: 3rem;
}

// LOGO
.logo {  
  padding-top: 1rem;
  margin: 0;
  

  &__img {
    width: 3rem;
    height: auto;
    
  }

  @include respond(phone) {
    display: none; 
  }
}

// NAVIGATION
.nav {   
  display: inline;

  &__list {
    text-align: right;    
  }

  &__item {    
    font-size: 1.5rem;
    font-weight: bold;
    list-style: none;
    line-height: 7rem;  
    padding: 0;
    display: inline;
    margin-left: 4rem;
  }

  &__item a {
    color: $primary-color;
    font-family: 'Lato', sans-serif;
  }

  a:link {
    text-decoration: none;
  }

  a:hover {
    color: rgb(103, 128, 159);
    
  }
}

// HERO
.header {
  height: 95vh;
  background-image: linear-gradient(
    to right, rgba(191, 191, 191, 0.800),
    rgba(242, 241, 239, 0.800)), url(../images/designer.jpg);
  background-size: cover;
  background-position: top;

  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}

.hero {
  &__box--1 {    
    color: $primary-color;    
    position: absolute; 
    top: 10%;
    left: 50%;
    
    transform: translate(-50%, 50%);
  }  

  &__heading-primary--main {
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    padding: 1rem 2rem;
    margin-bottom: 0.5rem;
    display: block;
    text-shadow: .5rem 1rem 0.8rem rgba(#000, .2);

    @include respond(phone) {
      text-align: center;
    }   

    // ANIMATION
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;   
  }

  &__heading-primary--sub {
    font-size: 3rem;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    padding: 1rem 2rem;

    display: block;
    background-image: linear-gradient(to right, $tertiary-color, $primary-color);

    -webkit-background-clip: text;
    color: transparent;    

    @include respond(phone) {
      font-size: 3rem;
    }       

     // ANIMATION
     animation-name: moveInRight;
     animation-duration: 1s;
     animation-timing-function: ease-in-out;
  }
}

// http://www.flatuicolorpicker.com/blue-hex-color-model
