// COLORS
$primary-color: #2c3e50;
$secondary-color: #777;
$tertiary-color: #333;
$color-grey-light: #f7f7f7;

$color-white: #fff;
$color-black: #000;

// GRID 
$grid-width: 114rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 6rem;

// FONTS
$font-primary: 'Inconsolata', monospace;
$font-secondary: 'Lato', sans-serif;
$default-font-size: 1.6rem;
